.PEAKPAY_content:not(.active) {
  display: none;
}

.pos-r {
  position: relative;
}
.inputDateOver,
.inputDateOver::-webkit-calendar-picker-indicator {
  display: block;
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  opacity: 0;
}

#PEAKPAY_cvv::-webkit-outer-spin-button,
#PEAKPAY_cvv::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#PEAKPAY_cvv[type="number"] {
  -moz-appearance: textfield;
}

.PEAKPAY_content_card_number {
  position: relative;
}

.PEAKPAY_card_number_img {
  position: absolute !important;
  top: 0 !important;
  right: 5px !important;
  bottom: 0 !important;
  margin: auto !important;
  z-index: 1 !important;
  width: 35px !important;
}

.PEAKPAY_card_number_img:not(.active) {
  display: none;
}


.PEAKPAY_InpuSelect{
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;

}
.PEAKPAY_InpuSelect > select{
  flex: 1;
  border: 1px solid #ddd;
  background-color: white;
  font-size: 1.6rem;
  letter-spacing: -0.015em;
}
.PEAKPAY_InpuSelect > input{
  flex: 3;
}
#billing_phone_field .woocommerce-input-wrapper:not(.PEAKPAY_InpuSelect){
  display: none;
}